@import 'tailwindcss';

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: Montserrat, sans-serif;
  --font-serif: Marcellus, serif;

  --color-primary: #dd013f;
  --color-secondary: #081430;
  --color-white: #ffffff;
  --color-gray: #d3d3d3;
  --color-opaque: #08143099;
}

h1 {
  @apply font-(family-name:--font-serif) text-[48px] leading-[58px] font-normal uppercase text-(--color-secondary);
}

h2 {
  @apply font-(family-name:--font-sans) text-[24px] leading-[29px] font-semibold uppercase text-(--color-secondary);
}

h3 {
  @apply font-(family-name:--font-sans) text-[18px] leading-[20px] font-semibold uppercase text-(--color-secondary);
}

body {
  @apply font-(family-name:--font-sans) text-[18px] leading-[20px] font-normal text-(--color-secondary);
}

button {
  @apply font-(family-name:--font-sans) text-[18px] leading-[16px] font-semibold uppercase text-(--color-secondary) py-2.5 px-4.5 h-9 cursor-pointer;
}

hr {
  @apply border-(--color-gray);
}

input {
  @apply w-full border border-(--color-gray) p-1.25 mt-1.25 mb-3.75;
}